.footer-style{
    margin-top:75px;
    background-color:whitesmoke;
    width: 100%;
}

.footer-menu{
    border-radius: 25px;
    color: #888;
    font-weight: 400;
    padding: 8px 15px;
    white-space: nowrap;
    font-family: 'Lato',sans-serif;
    font-weight: 700;
}

.footer-menu:hover{
    color: black;
    background-color: white;
}
