<footer class="footer-style">
    <div class="row">
        <span class="col-md-12" style="text-align: center;color: #888; ">Made by Zankrut Thakkar B00856858</span>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-3">
            <a class="footer-menu" href="#">Home</a>
        </div>
        <div class="col-md-3">
            <a class="footer-menu" href="#">Blog</a>
        </div>
        <div class="col-md-3">
            <a class="footer-menu" href="#">contact</a>
        </div>
        <div class="col-md-3">
            <a class="footer-menu" href="https://www.facebook.com/">Facebook</a>
        </div>
    </div>
</footer>