<!-- @author Zankrut Thakkar B00856858 -->
<!-- Spinner Component -->
<div class="spinner-mat"
    style="display: flex; justify-content: center; align-items: center; z-index: 1; position: absolute; top: 300px; left: 700px;">

    <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
<div class="container">
    <div>
        <div>
            <!--Heading of the Page-->
            <h2 class="page-heading">Learn from the
                experience of other through
                these short Blogs</h2>
            <!--Search Bar and Create Blog button-->
            <div class="search-div form-group">
                <input class="blog-search-input form-control" type="text" [(ngModel)]="blogSearch"
                    placeholder="Search Blog Posts from Title">
            </div>
        </div>
    </div>
    <!--Contianer for blog card-->
    <div>
        <!--Card for Blog Post in row-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let blog of blogposts | blogsfilter:blogSearch"
                (click)="onBlogCard(blog)">
                <div class="card" class="blog-card">
                    <img class=" card-img-top" width="150" height="150" [src]="blog.image" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title">{{blog.title}}</h4>
                        <p class="card-text sub-title">{{blog.subTitle}}
                        </p>
                        <button (click)="onBlogCard(blog)" class="btn create-blog-btn">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>