<!-- @author Zankrut Thakkar B00856858 -->
<div class="container">
    <div>
        <div>
            <!--Heading of the Page-->
            <h2 class="page-heading">Learn from the
                experience of other through
                these short Blogs</h2>
            <!--Search Bar and Create Blog button-->
            <div class="search-div form-group">
                <input class="blog-search-input form-control" type="text" [(ngModel)]="blogSearch"
                    placeholder="Search Blog Posts from Title">
            </div>
        </div>
    </div>
    <!--Contianer for blog card-->
    <div>
        <!--Card for Blog Post in row-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let blog of blogposts | blogsfilter:blogSearch"
                (click)="onBlogCard(blog)">
                <div class="card" class="blog-card">
                    <img style="margin:5px;" class=" card-img-top" width="150" height="150"
                        src="/assets/undraw_accept_tasks_po1c.svg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style">{{blog.title}}</h4>
                        <p class="card-text">{{blog.subTitle}}
                        </p>
                        <button (click)="onBlogCard(blog)" class="btn create-blog-btn">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>