<div class="container">
    <div>
        <div>
            <!--Heading of the Page-->
            <h2 class="page-heading">Learn from the
                experience of other through
                these short Blogs</h2>
            <!--Search Bar and Create Blog button-->
            <div class="search-div">
                <input class="blog-search-input" type="text" [(ngModel)]="blogSearch" placeholder="Search">
               <button class="create-blog-btn" (click)="onWriteBlog()"> Create Blog </button>
            </div>
        </div>
    </div>
    <!--Contianer for blog card-->
    <div>
        <!--Card for Blog Post in row-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let blog of blogs | blogsfilter:blogSearch"
                (click)="onBlogCard(blog)">
                <div class="card" class="blog-card">
                    <img style="margin:5px;" class=" card-img-top" width="150" height="150" src={{blog.img}}
                        alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style">{{blog.title}}</h4>
                        <p class="card-text">{{blog.description}}
                        </p>
                        <button (click)="onBlogCard(blog)" class="btn create-blog-btn">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>