<!-- author: Jan Chayopathum -->
<nav class="container p-3" (firstPage)="setPage($event)">
    <ul class="pagination justify-content-center" *ngIf="pageObject$.pages && pageObject$.pages.length">
        <li class="page-item" [ngClass]="{disabled:pageObject$.currentPage === 1}">
            <a class="page-link" (click)="setPage(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pageObject$.currentPage === 1}">
            <a class="page-link" (click)="setPage(pageObject$.currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pageObject$.pages" [ngClass]="{active:pageObject$.currentPage === page}">
            <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pageObject$.currentPage === pageObject$.totalPages}">
            <a class="page-link" (click)="setPage(pageObject$.currentPage + 1)">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pageObject$.currentPage === pageObject$.totalPages}">
            <a class="page-link" (click)="setPage(pageObject$.totalPages)">Last</a>
        </li>
    </ul>
</nav>