<!--Job Search Page-->
<div class="container" style="height: 100%;">
    <!--Two div aligned side by side in row-->
    <div class="row align-items-center d-flex">
        <!--Text displayed on the left side-->
        <div class="col-12 col-lg-4">
            <header>
                <h2 class="job-page-title">Find Your Dream Job</h2>
            </header>
            <!-- Search Bar -->
            <app-nav-search></app-nav-search>
        </div>
        <!--Image displayed on the Right side-->
        <div class="col-12 col-lg-8">
            <img src="/assets/team.svg" alt="Team-hero-Image">
        </div>
    </div>
</div>