<!--About Page-->
<div class="container">
    <!--Two div aligned side by side in row-->
    <div class="row align-items-center d-flex">
        <!--Text displayed on the left side-->
        <div class="col-12 col-lg-4">
            <h2 class="font-style-700">Have Patience!!</h2>
            <p class="font-style">Our Team is working hard to provide you this feature. Till then wait and enjoy
                other features.</p>
            <a class="link-home" routerLink="/home">Go back to home</a>
        </div>
        <!--Image displayed on the Right side-->
        <div class="col-12 col-lg-8">
            <img src="/assets/team.svg" alt="Team-hero-Image">
        </div>
    </div>
</div>