    <div class="container text-center" style="min-height: 100%;">
      <h1 class="font-weight-bold">About Us</h1>
      <p class="lead">A group of enthusiastic developers came together to contribute to the society and help students or
        any job seekers to
        find a job postings, manage their job applications, to get job and to share their journery with community.<br>
        Six Pillars of this initiative are:
      </p>
      <div class="row justify-content-center mt-5">
        <!-- Profile 1 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Anudish Jinturkar</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 2 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011284.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Jan Chayopathum</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 3 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Parth Bagaria</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 4 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Roshan Patel</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 5 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Tejas Patel</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 6 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Zankrut Thakkar</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
  
      </div>
    </div>
  