<!--About Page-->
<!-- <div class="container"> -->
    <!--Two div aligned side by side in row-->
    <!-- <div class="row align-items-center d-flex"> -->
        <!--Text displayed on the left side-->
        <!-- <div class="col-12 col-lg-4">
            <h2 class="font-style-700">Have Patience!!</h2>
            <p class="font-style">Our Team is working hard to provide you this feature. Till then wait and enjoy
                other features.</p>
            <a class="link-home" routerLink="/home">Go back to home</a>
        </div> -->
        <!--Image displayed on the Right side-->
        <!-- <div class="col-12 col-lg-8">
            <img src="/assets/team.svg" alt="Team-hero-Image">
        </div>
    </div>
</div> -->

<section class="py-5 h-100" id="aboutus">
    <div class="container text-center">
      <h1 class="font-weight-bold">About Us</h1>
      <p class="lead">A group of enthusiastic developers came together to contribute to the society and help students or
        any job seekers to
        find a job postings, manage their job applications, to get job and to share their journery with community.<br>
        Six Pillars of this initiative are:
      </p>
      <div class="row justify-content-center mt-5">
        <!-- Profile 1 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Anudish Jinturkar</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 2 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011284.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Jan Chayopathum</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 3 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Parth Bagaria</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 4 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Roshan Patel</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 5 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Tejas Patel</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
        <!-- Profile 6 -->
        <!-- <div class="col-2 col-md-0"></div> -->
        <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
          <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
        </div>
        <div class="col-8 col-md-3 py-2 px-3 text-left">
          <h4 class="font-weight-light text-bold">Zankrut Thakkar</h4>
  
          <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
        </div>
  
      </div>
    </div>
  </section>
  