<div class="row">
   <div class="col-8">
    </div>
    <div class="col-4 offset-md-0"> <br/>
        <button id="addNote" class="btn btn-primary btn-sm float-right" (click)="addNewNote()">Add Note</button>
    </div>
</div>
<br>
<h3><b>Notes</b></h3>
<h4><b></b></h4>
<div class="row m-1 align-items-center border border-light px-4 py-2" id="exampleCheck1" *ngFor="let jobNotes of noteList">   
    <div class="col-lg-10">
        <p class="form-check-label " for="exampleCheck1"><i class="fa fa-sticky-note"></i>
        {{jobNotes.noteDetails}} </p>
    </div>
   <div class="col-lg-2">
    <mat-icon (click)="onUpdateNote(jobNotes)">edit</mat-icon>
    &nbsp;
    <mat-icon (click)="onDeleteNote(jobNotes)">delete</mat-icon>
   </div>
</div>