<div class="container-fluid" style="margin-top: 50px;">
    <!--Container for Contact card-->
    <div>
           <!--Search Bar -->
           <div class="search-div">
            <input class="contact-search-input" type="text" [(ngModel)]="contactSearch" placeholder="Search the contact">
            <button class="create-contact-btn" (click)="onCreateContact()"> Create Contact </button>
        </div>
        <!--Card for Contact in row-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let contact of contactlist">
                <div class="card cardStyle contact-card">
                    <div class="card-body">
                        <h3 class="card-title font-style">Name:&nbsp;&nbsp;<em>{{contact.Name}}</em></h3>
                        <h3 class="card-text font-style">Email ID:&nbsp;&nbsp;{{contact.Email}}</h3>
                        <h4 class="card-text font-style">Company Name: &nbsp;&nbsp;{{contact.Company}}</h4>
                        <h4 class="card-text font-style">Position: &nbsp;&nbsp;{{contact.Position}}</h4>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
console.log("document is ready");
  $( ".card" ).hover(
  function() {
    $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
  }, function() {
    $(this).removeClass('shadow-lg');
  }
);
  
// document ready  
});
</script>
