<main class="container">
    <div style="margin-top:25px">
        <div class="card" style="border: 0;border-radius: 16px;box-shadow: 0.5rem 1rem 1rem 0.5rem rgba(0, 0, 0, 0.1);">
            <div class="card-body">
                <nav class=" row w-100">
                    <div class="row float-right mx-1 my-2">
                        <button class="close pointer" aria-label="Close" (click)="goBack()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </nav>
                <section class="row-12">
                    <header class="col-12 m-3">
                        <h1>{{selectedJob$.jobtitle}}</h1>
                        <h3>{{selectedJob$.company}}</h3>
                        <h5>{{selectedJob$.formattedLocation}}</h5>
                    </header>
                    <header class="col-12">
                        <button class="btn bg-yellow txt-white pointer m-3">
                            <mat-icon [ngStyle]="{'color':'white'}" aria-hidden="false" aria-label="save to wish list" (click)="saveToWishList()">
                                favorite
                            </mat-icon>
                        </button>
                        <p class="m-3">{{selectedJob$.formattedRelativeTime}}</p>
                        <button class="btn bg-yellow txt-white pointer m-3" name="Apply Now" title="Apply Now">Apply Now</button>
                    </header>
                    <section>
                        <mat-tab-group>
                            <mat-tab label="Role Description">
                                <article class="m-4">
                                    <p>
                                        {{selectedJob$.snippet}}
                                    </p>
                                </article>
                            </mat-tab>
                            <mat-tab label="Company Feedbacks">
                                <article class="m-4">
                                    <p>
                                        Feedbacks
                                    </p>
                                </article>
                            </mat-tab>
                            
                        </mat-tab-group>
                    </section>
                </section>
            </div>
        </div>
    </div>
</main>