.h2{
    font-size: 1.5rem;
    text-align: center;
  }

.btn
{
   background-color: #fdbd56;
    margin-top: 20px;
    margin-bottom: 10px;
    margin:auto;
    display:block;
    color: black;
}
.btn:hover
{
  color: white;
}

.div
{
  border: 2px;
}