<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialog view</title>
</head>

<body>
  <div *ngIf="data.id==1">
    <mat-dialog-content class="mat-typography">
      <h2 mat-dialog-title class="h2">
        Organize your search
      </h2>
      <p>
        Why to use the various job search websites when we are here for you. TrackMyJobs keeps the gives you the job
        opportunities regardless of where you found them. Additionally track contacts, notes, activities, Job
        Descriptions,
        Locations,
        Company Details, Job Applications and In-App Notifications regarding the tasks. It's like a CRM for you job
        search.
      </p>
      <input type="button" class="btn btn-primary" (click)="onNoClick()" value="Close">
    </mat-dialog-content>
  </div>



  <div *ngIf="data.id===2">

    <mat-dialog-content class="mat-typography">
      <h2 mat-dialog-title class="h2">
        Manage your job application
      </h2>

      <p>
        Why to use the messy spreadsheets when we are here for you. TrackMyJobs keeps the track of every detail about
        your job
        opportunities regardless of where you found them. Track contacts, notes, activities, Job Descriptions,
        Locations,
        Company Details, Job Applications and In-App Notifications regarding the tasks. It's like a CRM for you job
        search.
      </p>
      <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
    </mat-dialog-content>
  </div>


  <div *ngIf="data.id==3">
    <mat-dialog-content class="mat-typography">

      <h2 mat-dialog-title class="h2">
        Apply for jobs
      </h2>

      <p>
        You can also view the different job postings and hunt for the jobs of your choice. Apply for the jobs by
        following the
        job postings which will direct the you to the "Adzuna".
      </p>
      <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
    </mat-dialog-content>
  </div>


  <div *ngIf="data.id==5">
    <h2 mat-dialog-title class="h2">
      You have successfully Registered
    </h2>
    <div class="center-block" style="text-align: center;
      display: block;"><img style="margin-bottom: 20px; width: 100px;height: 100px;"
        src="https://image.flaticon.com/icons/svg/845/845646.svg" alt="Success"></div>
    <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
  </div>

  <div *ngIf="data.id==6">
    <h2 class="h2">
      You have successfully submitted your blog
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px; width: 100px;height: 100px;"
        src="https://image.flaticon.com/icons/svg/845/845646.svg" alt="Success"></div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" routerLink="/home" value="close">
  </div>



  <div *ngIf="data.id==10">
    <mat-dialog-content class="mat-typography">
      <h2 mat-dialog-title class="h2">
        Help section for Write blog
      </h2>
      <p>
        To create a new Blog Post
        Enter Title, Subtitle, Content and Keywords. After filling data in this
        filed click on "submit my blog" button. Additonally you can also apply
        different formatting styles to the content of your blog by using the Editing
        tools. Different Formatting styles current available are:
      </p>
      <ul>
        <li>Bold</li>
        <li>Italics</li>
        <li>Underline</li>
        <li>List</li>
      </ul>
      <p>
        Share your knowledge with other users through this short blogs.

      </p>
      <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
    </mat-dialog-content>
  </div>


</body>

</html>