<!-----------------------------------header----------------------------------------------------------->
<div class="container">
    <header class="head my-3">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand d-flex align-items-center" routerLink="/home">
                <img class="navbar-logo" src="/assets/briefcase.svg" alt="website-icon">
                <span class="header-name" style="font-family: Lato;">TrackMyJobs</span>
            </a>
            <button class="navbar-toggler border-0 " type="button" data-toggle="collapse" data-target="#header-navbar">
                <span><img class="toggle-img" src="/assets/icons8-menu.svg" alt=""></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="header-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/home" routerLinkActive="nav-active"
                        *ngIf="isAuthenticated">{{home}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/blogs" routerLinkActive="nav-active"
                        *ngIf="isAuthenticated">{{blog}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/job-search"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{jobs}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/writeBlog"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{writeBlog}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/analysis"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{analysis}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/job-board"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{job_board}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/job-activity"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{job_activity}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/contact"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{contact}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" routerLink="/about"
                            routerLinkActive="nav-active" *ngIf="isAuthenticated">{{about}}</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <button class="btn btn-primary mr-sm-2 signin" type="button"
                        [routerLink]="['/sign-in']" *ngIf="!isAuthenticated">{{sign_in_btn}}</button>
                    <button class="btn btn-outline-primary my-2 my-sm-0 signup" type="button"
                        [routerLink]="['/sign-up']" *ngIf="!isAuthenticated">{{sign_up_btn}}</button>
                    <button class="btn btn-primary mr-sm-2 signin" type="button"
                        (click)="onLogout()" *ngIf="isAuthenticated">Logout</button>
                </div>
            </div>
        </nav>
    </header>
</div>