<!--Job's Page-->
<div class="container">
    <div>
        <div>
            <h2 class="job-page-title">Find Your Dream Job
            </h2>
        </div>
    </div>
    <!--Search Bar-->
    <input class=" form-control job-search-input" type="text" [(ngModel)]="jobSearch"
        placeholder="Search Based on Job Role">
    <div>
        <!--Jobs Card-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let job of jobs | jobsfilter:jobSearch"
                (click)="onjobCard(job)">
                <div class="card" style="margin:10px;box-shadow: 0.5rem 1rem 1rem 0.5rem rgba(0, 0, 0, 0.1);">
                    <img class=" card-img-top" width="150" height="150" src={{job.img}} alt="job-card-img">
                    <div class="card-body">
                        <h4 style="font-family:'Lato',sans-serif;font-weight: 700;" class="card-title">{{job.company}}
                        </h4>
                        <p style="font-family:'Lato',sans-serif;" class="card-text">{{job.post}},
                            <span>{{job.location}}</span>
                        </p>
                        <span style="font-family:'Lato',sans-serif;">Salary: {{job.salary}}</span><br>
                        <div>
                            <button (click)="onjobCard(job)" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>