.job-page-title{
    text-align:center; font-size:24px; font-weight: 700;
}

.pointer{
    cursor: pointer;
}

.bg-dark-blue{
    background-color: #084970;
}

.bg-light-grey{
    background-color: #ebebeb;
}

.bg-yellow{
    background-color: #fdbd56;
}

.bg-white{
    background-color: white;
}

.drawer-container{
    height: 800px;
    /* border: 1px solid #8497b0; */
}

.material-icons.color_yellow { 
    color: #ffc000; 
}

/* small screen */
@media screen and (max-width: 600px) {
    .mat-drawer-content {
      display: none;
    }

    .mat-drawer {
        width: 100%;
    }
}