<!-- author: Jan Chayopathum -->
<!--Job Search Page-->
<div class="container">
    <!--Two div aligned side by side in row-->
    <div class="row align-items-center d-flex">
        <!--Text displayed on the left side-->
        <div class="col-12 col-lg-4">
            <header>
                <h2 class="job-page-title">Search Your Dream Job</h2>
                <p class="text-center">Click "Search" without keyword or location to find all job availabilities in Canada.</p>
            </header>
            <!-- Search Bar -->
            <app-nav-search></app-nav-search>
        </div>
        <!--Image displayed on the Right side-->
        <div class="col-12 col-lg-8">
            <img src="/assets/team.svg" alt="Team-hero-Image">
        </div>
    </div>
</div>