<div class="container">
    <div class="row">
        <aside class="col-lg-7 col-md-8 col-sm-6" style="margin-top: 50px;">
            <h2 style="font-weight: 700;font-size: 50px; text-align: center;">Welcome!!!</h2>
            <p style="text-align: center;">Sign up to keep track of all your job applications so that you never miss an
                opportunity
            </p>
            <img src="/assets/scrum-board.svg" alt="">
        </aside>

        <main class="col-lg-5 col-md-4 col-sm-6" style="margin-top:25px">
            <div class="card"
                style="border: 0;border-radius: 16px;box-shadow: 0.5rem 1rem 1rem 0.5rem rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <p style="text-align: center;font-size: 24px;font-weight: 600;">Sign Up</p>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                                formControlName="email" required>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.email.errors?.required">
                                <small>
                                    Email is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.email.errors?.invalidEmail">
                                <small>
                                    Email must be a valid email address.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name"
                                formControlName="name" required>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.name.errors?.required">
                                <small>
                                    Name is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.name.errors?.minlength">
                                <small>
                                    Minimum characters are {{MIN_NAME_LENGTH}}.
                                </small>
                            </div>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.name.errors?.maxlength">
                                <small>
                                    Maximum characters are {{MAX_NAME_LENGTH}}.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                placeholder="Password" formControlName="password" required>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.password.errors?.required">
                                <small>
                                    Password is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.password.errors?.minlength">
                                <small>
                                    Password must be at least 15 characters.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                placeholder="Confirm Password" formControlName="confirmPassword" required>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.password.errors?.required">
                                <small>
                                    Confirm password is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.confirmPassword.errors?.passwordMismatch">
                                <small>
                                    Password mismatch.
                                </small>
                            </div>
                        </div>

                        <footer class="form-group">
                            <button class="btn btn-lg btn-primary text-uppercase signup-btn btn-block"
                                type="submit">Sign Up</button>
                        </footer>
                    </form>
                </div>
            </div>
        </main>

    </div>
</div>