<nav class=" row w-100">
    <div class="row float-right ml-2">
        <button class="close pointer" aria-label="Close" (click)="goBack()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</nav>
<h2 mat-dialog-title>Reset your password</h2>
<form [formGroup]="form" (ngSubmit)="sendEmail()">
    <p>
        Enter your verified email address and <br>
        we will send you a password reset link.
    </p>

    <div class="form-group" (ngSubmit)="sendEmail()">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
            formControlName="email" required>
        <div class="text-danger ml-2" *ngIf="formControl.email.errors?.required">
            <small>
                Email is required.
            </small>
        </div>
        <div class="text-danger ml-2" *ngIf="formControl.email.errors?.invalidEmail">
            <small>
                Email must be a valid email address.
            </small>
        </div>
    </div>

    <footer class="form-group">
        <button class="btn btn-lg btn-primary txt-white btn-block" type="submit">
            Send Password Reset Email
        </button>
    </footer>

</form>