<nav class=" row w-100">
    <div class="row float-right ml-2">
        <button class="close pointer" aria-label="Close" (click)="goBack()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</nav>
<h2 mat-dialog-title>Reset your password</h2>
<form class="was-validated" #forgotpassword="ngForm" (ngSubmit)="sendEmail(forgotpassword)">
    <p>
        Enter your verified email address and <br>
        we will send you a password reset link.
    </p>

    <div class="form-group">
                <input 
                type="email" 
                class="form-control" 
                name="email" 
                id="email" 
                placeholder="you@email.com" 
                title="enter your email."
                ngModel
                required
                pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})"
                >
    </div>

    <footer class="form-group">
        <button class="btn btn-lg btn-primary txt-white btn-block" type="submit">
            Send Password Reset Email
        </button>
    </footer>

</form>