/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar_confirm{
    background-color: #28a745;
    color: white;
}
.mat-simple-snackbar-action{
        color: black;
    }