/* author: Jan Chayopathum */

.button{
    text-transform: uppercase;
}

.pointer{
    cursor: pointer;
}

.bg-yellow{
    background-color: #fdbd56;
}

.search-width{
    width: 20rem;
}

/* small-medium screen */
@media screen and (max-width: 950px) {
    .search-width{
        width: 15rem;
    }
}