<!-------------------------------------------Home----------------------------------------------------------->
<div class="container">
    <div class="row align-items-center d-flex">
        <div class="col-12 col-lg-4">
            <h2>Track Job Applications</h2>
            <p>Apply for your dream Job,keep track of job application status, so that you never miss an opportunity </p>
        </div>
        <div class="col-12 col-lg-8">
            <img src="/assets/scrum-board.svg" alt="Home-page-image">
        </div>
    </div>
</div>
<div>
    <section class="feature-section">
        <div class="card-deck feature-card-deck">
            <div class="card feature-card">
                <img class="card-img-top" src="/assets/discover_jobs.svg" width="100" height="100" alt=" discover jobs">
                <div class="card-body">
                    <h4 class="card-title feature-card-title">Discover Jobs</h4>
                    <p class="card-text">Find your dream company. Filter jobs based on your preference such as Location,
                        Domain, Salary etc.</p>
                </div>
            </div>
            <div class="card feature-card">
                <img class="card-img-top" src="/assets/profile.svg" width="100" height="100" alt="Manage jobs">
                <div class="card-body">
                    <h4 class="card-title feature-card-title">Manage Job
                        Application</h4>
                    <p class="card-text">Keep track of all your job application at one place. So that you never miss an
                        opportunity </p>
                </div>
            </div>
            <div class="card feature-card">
                <img class="card-img-top" src="/assets/activities.svg" width="100" height="100" alt="Manage activities">
                <div class="card-body">
                    <h4 class="card-title feature-card-title">Manage Activities</h4>
                    <p class="card-text">Keep record of everything you required to get your dream job eg. preparing
                        cover-letter, resume etc. </p>
                </div>
            </div>
            <div class="card feature-card">
                <img class="card-img-top" src="/assets/analytics.svg" width="100" height="100" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title feature-card-title">Job Applications Analytics</h4>
                    <p class="card-text">See all your job application status analysis in form of graph. Easy to get
                        overview of all your application based on application status, date, location etc.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container" style="margin-top: 25px;">
    <div class="row align-items-center d-flex">
        <div class="col-12 col-lg-4">
            <h2>Manage Applications</h2>
            <p>Manage all your job applications from one place. Reduce the effort in organizing and managing
                applications so that you can focus fully on the preparation.</p>
        </div>
        <div class="col-12 col-lg-8">
            <img src="/assets/home-img.svg" alt="manage-app-img">
        </div>
    </div>
</div>

<div>
    <section class="contact-section">
        <div class="container contact-form">
            <form style="margin-left: 25px;margin-right: 25px;" #contactform="ngForm">
                <h2>Contact</h2>
                <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input #email="ngModel" matInput required ngModel name="email" placeholder="abc@abc.com"
                            pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,4}$">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf=" !email.touched && email.invalid">Email is required</mat-error>
                        <mat-error *ngIf=" email.touched && email.invalid">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.pattern">Enter valid Email id(abc@abc.com)</div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <textarea #descripton="ngModel" matInput required ngModel name="description"
                        placeholder="Enter description"></textarea>
                    <mat-error *ngIf="descripton.errors && descripton.errors.required">
                        description is required
                    </mat-error>
                </mat-form-field>

                <button [disabled]="contactform.form.invalid" type="submit" class="btn btn-primary"
                    (click)="sendmail()">Send</button>
            </form>
        </div>
    </section>
</div>