<!-- @author Zankrut Thakkar B00856858 -->
<!--To show Blog Post Data-->
<div class="container">
    <!--Blog's Title-->
    <h1 class="page-title">{{blogPost[2]}}</h1>
    <!--Blog's Image-->
    <div class="text-center">
        <img class="rounded img-fluid" src="/assets/undraw_accept_tasks_po1c.svg" alt="Blog Image">
    </div>
    <!--Blog's Content-->
    <div class="page-content">
        <p [innerHTML]="blogPost[4]"></p>
    </div>
    <!--Blog's Author-->
    <p style="text-align: right;font-style:italic;">-Created by {{blogPost[1]}}</p>

    <div *ngIf="onload()">
        <button class="button btn bg-yellow font-weight-bold pointer my-2 my-2" (click)="delete()">Delete
            your post</button>
    </div>
</div>
<br>