/* @author Zankrut Thakkar B00856858 */
.container{
    min-height: 100%;
}

.page-title{
    text-align: center;
    font-size: 22px;
    font-family: 'Lato',sans-serif; 
    font-weight: 700;
}

.page-content{
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}

.bg-yellow{
    background-color: #fdbd56;
}

.button{
    text-transform: uppercase;
}
.spinner-mat ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fdbd56;
}